---
layout: base.njk
permalink: /404.html
pageTitle: 查无此人
---
<section class="intro">
  <h1>查无此人</h1>
  <p>此页或已被删号、改名，或从未存在。<a href="{{ '/' | url }}">返回列传目录</a>，或者<a href="{{ '/random/' | url }}">随便看看</a>。</p>
</section>
